/*Aquí se importa la fuente*/
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Aquí pongo un padding, un margin, un color de fondo y una fuente por defecto*/
*{
    padding: 0 0;
    margin: 0 0;
    background-color: hsl(19, 100%, 96%);
    font-family: 'Lora', serif;
    
}

/*Esta es la sección de el menu nav donde se encuentran los enlaces para acceder rapidamente a las secciones*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1%;
    
}

/*Esta es la clase de la parte izquierda del menu de navegacion*/
nav .nav-icon{
    padding-left: 4%;
    display: flex;
    gap: 8px;
}

nav .nav-icon img{
    width: 50%;
    height: 3vh;
}

/*Esta es la clase de la parte derecha del menu de navegacion*/
nav .nav-list{
    display: flex;
    padding-right: 4%;
    gap: 20px;
    align-items: center;
}

nav .nav-list a{
    text-decoration: none;
}