/*====== GOOGLE FONTS ======*/
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*====== DEFECTO ======*/
* {
    padding: 0 0;
    margin: 0 0;
    color: #40322E;
    box-sizing: border-box;
}

body {
    background-color: hsl(19, 100%, 96%);
    margin: 0;
    padding: 0;
}

.main-wrapper {
    width: 1500px;
    margin: 0 auto;
    position: relative;
}

/*====== MENU NAV ======*/
nav {
    background-color: hsl(19, 100%, 96%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1%;
    font-size: 20px;
    flex-wrap: wrap;

    position: fixed;
    width: 1500px;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    padding-bottom: 1%;
    z-index: 1000;
}

/*====== MENU NAV IZQUIERDA ======*/
nav .nav-icon {
    padding-left: 15%;
    display: flex;
    gap: 8px;
    align-items: center;
}

nav .nav-icon img {
    width: 35%;
    height: 2.5vh;
}

nav .nav-icon p {
    font-family: 'Playfair Display', Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    color: #40322E;
}

/*====== MENU NAV DERECHA ======*/
nav .nav-list {
    display: flex;
    padding-right: 15%;
    gap: 50px;
    align-items: center;
}

nav .nav-list a {
    text-decoration: none;
    color: black;
}

/*====== MENU HOME ======*/
.home {
    padding-top: 10%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home .welcome-home {
    padding-left: 150px;
    flex-wrap: wrap;
}

.flower1 {
    position: absolute;
    top: 100px;
    left: -170px;
    opacity: 20%;
    width: 150px;
    transform: rotate(90deg);
    z-index: 1;
}

.home h1 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 90px;
}

.home .sushi-food {
    display: flex;
    gap: 12px;
}

.home .sushi-food img {
    width: 90px;
    height: 90px;
}

.home .sushi-home-description {
    padding-top: 5%;
    padding-bottom: 5%;
    max-width: 300px;
    color: #7e7167;
}

.home .sushi-image-home {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.home .sushi-image-home .alga1 img {
    width: 750px;
}

.home .sushi-image-home .alga2 img {
    opacity: 20%;
    width: 140px;
    position: absolute;
    top: 250px;
    right: -180px;
}


/*===== MENU BUTTON ======*/
.home button {
    background-color: #DB7134;
    padding: 15px 15px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    display: flex;
    border-radius: 30px;
    border-style: none;
    padding-right: 20px;
    padding-left: 20px;
    cursor: pointer;
}

.home button p {
    background-color: #DB7134;
    color: white;
    font-weight: 500;
    font-size: 15px;

}

.home button img {
    background-color: #DB7134;
    color: white;
    width: 20px;
}

/*====== ABOUT US SECTION ======*/
#About {
    padding-top: 7%;
    display: flex;
    align-items: center;
    gap: 100px;
    padding-left: 280px;
    position: relative;
}

#About .sushi-pieces img {
    width: 550px;
}

#About .about-description h3 {
    font-size: 28px;
    color: #E47738;
    font-family: dancing script, cursive;
}

#About .about-description h2 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 50px;
}

#About .about-description .about-title1 {
    padding-top: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
}

#About .about-description .about-title2 {
    padding-bottom: 20px;
}

#About .about-title1 img {
    width: 60px;
}

#About .about-description .about-text {
    max-width: 350px;
}

#About .alga3 {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%) rotate(350deg);
    opacity: 20%;
    width: 160px;
    z-index: 0;
}

/*====== POPULAR SECTION ======*/
#Popular {
    padding-top: 7%;
    text-align: center;
    align-items: center;
}

#Popular .best-food h3 {
    text-align: center;
    font-size: 28px;
    color: #E47738;
    font-family: dancing script, cursive;
}

#Popular .popular-dishes h2 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 50px;
    padding-bottom: 60px;
}

#Popular .card-dishes {
    flex-wrap: wrap;
    display: flex;
    gap: 30px;
    justify-content: space-between;
    text-align: center;
}

#Popular .card-dishes .products {
    background-color: white;
    border-radius: 20px;
    width: calc(100%/3 - 32px);
}

#Popular .card-dishes .products p {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 30px;
}

#Popular .card-dishes .japanese-dish p {
    color: #7e7167;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 20;
    font-size: 15px;
}

#Popular .card-dishes .price {
    padding-top: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
    text-align: center;
}

#Popular .card-dishes .price p {
    color: #E47738;
    font-size: 20px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#Popular .card-dishes .price img {
    width: 30px;
}

#Popular .card-dishes .japanese-dish .price {
    justify-content: center;
}